@import 'material-design-lite';

.comic-card {
  width: 80%;
  margin: auto;
}

.com-caption {
  position: absolute;
  bottom: 40px;
  left: 50px;
  color: white;
  font-size: 3rem;
}

.com-tile-img {
  width: 100%;
  margin: auto;
}
