@import "_color-definitions";

$color-primary: $palette-red-500;
$color-primary-dark: $palette-red-700;
$color-accent: $palette-yellow-700;


@import 'material-design-lite';

html {
  background: #545151;
}

.mdl-layout__drawer {
  background-color: unquote("rgba(#{$color-accent}, 0.87)");
}

h3, .header-title {
  font-family: 'Bangers';
  color: unquote("rgba(#{$color-accent}, 0.87)");
  text-shadow: 1px 1px 1px #000;
}

.comic-card {
  width: 80%;
  margin: auto;
}

.com-caption {
  position: absolute;
  bottom: 40px;
  left: 20px;
  color: unquote("rgba(#{$color-accent}, 0.87)");
  font-size: 2rem;
  text-align: center;
}

.com-tile-img {
  width: 100%;
  margin: auto;
}

.fa {
  font-size: 1.5rem;
  justify-content: space-between;
}


.actions {
  float: right;
  margin: 4rem 3rem 2rem 0;
}

.actions-form {
  float: right;
}
