<div class="comic-card demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <h2 class="com-caption">{{project.title}}</h2>
    <img class="com-tile-img" src="{{project.cover}}" alt="">
  </div>
  <div class="mdl-card__actions mdl-card--border">
    {{#link-to 'projects.tiles' project}}
      {{#mdl-button}}
        <i class="fa fa-star-o"></i>
      {{/mdl-button}}
    {{/link-to}}
    {{#link-to 'projects.edit' project}}
      {{#mdl-button}}
        <i class="fa fa-edit"></i>
      {{/mdl-button}}
    {{/link-to}}
    {{#mdl-button on-click=(action 'delete' project)}}
      <i class="fa fa-trash"></i>
    {{/mdl-button}}
  </div>
</div>
