<div class="comic-card demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <h2 class="com-caption">{{project.title}}</h2>
    <img class="com-tile-img" src="{{project.cover}}" alt="">
  </div>
  <div class="mdl-card__actions mdl-card--border">
    {{#link-to 'projects.edit' class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"}}
      <i class="fa fa-star-o"></i>
    {{/link-to}}
  </div>
</div>
