<div class="comic-card demo-card-square mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <img class="com-tile-img"src="http://lorempixel.com/200/200" alt="">
    <p class="com-caption">POW!</p>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      <i class="fa fa-trash"></i></a>
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      <i class="fa fa-pencil"></i></a>
  </div>
</div>
