<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <h3>My New Storyboard</h3>
  </div>
</div>
<div class="mdl-grid">
  {{project-form startingValues=model onsubmit="storeModel"}}
</div>
{{outlet}}
