<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <h3>My New Storyboard</h3>
  </div>
</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
     {{mdl-textfield label='Title' value=title}}
     {{mdl-textfield label='Cover URL' value=coverUrl isLabelFloating=false}}
    <div class="actions">
      {{mdl-button isFloating=true icon='add'}}
    </div>
  </div>
</div>
{{outlet}}
