<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <h3>New Storyboard</h3>
  </div>
<div class="mdl-grid">
  {{project-form startingValues=model onsubmit="createNewProject"}}
</div>
</div>
{{outlet}}
